<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/CSS/navbar.css}">
    <title>Title</title>
</head>
<body>
    <nav th:replace="~{Admin/fragment_admin :: adminNavbar}"></nav>
    <!-- Quiero crear una tabla donde se vea la informacion de las mariposas que se tienen almacenadas en la BD de MongoDB Atlas -->
    <section>
        <table>
            
        </table>
    </section>
</body>
</html>